.main-btn{
width: 150px;
height: 50px;
padding: 1rem;
background: $mainPurple;
border-radius: $main_border_radius;
color: $mainWhite;
text-transform: uppercase;
font-weight: bold;
font-family: $button-font;
font-size: 1rem;
transition: $transition03s;
cursor: pointer;
&:hover{
    background: $mainYellow;
    color: $mainBlack;
}
}

.submit-button {
    width: 100px;
    height: 40px;
    display: block;
    background: $secondRed;
    color: $mainWhite;
    border-radius: $button-radius;
    font-family: $button-font;
    font-size: 1rem;
    cursor: pointer;
    &.inline-submit{
        display: inline;
    }
}

.add-button {
    display: block;
    font-size: 1rem;
    border-radius:  8px;
    padding: 1rem;
    width: 200px;
    color: $mainWhite;
    background: $mainBlue;
    text-transform: uppercase;
}

.search-input{
    padding: 1rem;
    border:1px solid $mainGrey;
    border-radius:  3px;
    width: 450px;
    border-radius: $button-radius;
    font-family: $button-font;
    color: $mainGrey;
}