.input {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    display: block;
    border: 2px solid $mainPurple;
    border-radius: $main_border_radius;
    font-family: $para-font ;
    color: $mainPurple;
    width: 60%;
}